.cursorClick {
    cursor: pointer;
}

.corBlack {
    color: black;
    filter: invert(1);
}

.corBranca {
    color: white;
    filter: invert(0);
}
.corBranca2 {
    color: white;
    visibility: hidden;
}
.input {
    width: 300px;
}